.card{
  background-color: #d8232a;
  display: flex;
  justify-content: space-between;
  color: #f5f4f4
}

.card-block {
  padding: 1rem;
  background-color: #d8232a;

}

.character-image {
  width: 10rem
}

.character-name {
  align-self: center;
  padding-right: 6rem;
  font-size: 3rem;
}

.infos {
  background-color: #35353536;
  padding: 1rem;
}